@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Oswald|Schoolbell');
.App {
  max-width: 400px; 
}

.user-card{
  font-family: 'Schoolbell';
  background-color: #C9D3DF;
  border: 3px solid #8393A7;
  border-radius: 10px;
  box-shadow: 2px 2px 5px  #ccc;
  height:200px;
  margin: 5%;
}

.user-card img{
  max-width: 60%;
}

.user-card-inner{
  display:block;
  margin: 10px auto;
  max-width: 90%; 
}

.todo-list{
  font-family: 'Schoolbell';
}

.todo-list h3{
  text-align: center;
}

.todo-list-inner{
  margin:0 0 0 31.4%; 
}

.todo-button{ 
  font-family: 'Roboto';
  color: #3D4D65;
  float: right;
  position: relative;
  left: -139px;
  top: -24px;
  height: 25px;
  background-color: #EBEFF3;
  border: 2px solid #D1335B;
  border-radius: 4px;
  }

.lds-hourglass {
  margin: 70px auto;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 3px;
  box-sizing: border-box;
  border: 24px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
