@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Montserrat|Schoolbell');
.App {
  max-width: 400px; 
}

.user-card{
  font-family: 'Schoolbell';
  background-image: url(./images/card-bkg.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  height:300px;
}

.user-card img{
  max-width: 70%;
  display: block;
  box-shadow: 4px 4px #10665A;
  margin: 0 auto 18px;
}

.user-card .user-card-inner{
  display:block;
  margin: 10px auto;
  position: relative;
  top: 44px;
  max-width: 90%;
  transform: rotate(-2.4deg) 
}

.todo-list{
  font-family: 'Schoolbell';
}

.todo-list h3{
  text-align: center;
}

.todo-list-inner{
  margin:0 0 0 27.4%; 
   color: #555;
}

.todo-button{ 
  font-family: 'Schoolbell';
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  height: 30px;
  background-color: #8DC98F;
  border: 3px solid #1C9A8E;
  border-radius: 6px;
  letter-spacing: 0.05em;
  }

.todo-form{ 
  font-weight: bold;
  font-family: 'Schoolbell';
  background-color: #DEE7E1;
  border: 1px solid #1C9A8E;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #555;
  margin-top: 4%;
  width: 50%;
  }

.todo-item-completed{
  color: #8DC98F;
}

.lds-hourglass {
  margin: 70px auto;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 3px;
  box-sizing: border-box;
  border: 24px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
